# ========================
# Frontend (Node / React)
# ========================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# ========================
# Backend (Java / Maven)
# ========================
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iws
*.iml
*.ipr

# ========================
# VS Code
# ========================
.vscode/*
!.vscode/extensions.json

# ========================
# Logs
# ========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ========================
# Spring Boot
# ========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ========================
# NetBeans
# ========================
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ========================
# Sistema operativo
# ========================
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

